@using NiceHandles.Models
@{ var tls = XFile.sTypeLevel.GroupBy(p => p.Value, (key, g) => new { value = key, LST = g.ToList() }).ToList(); }
<hr />
@foreach (var ptl in tls)
{
    <div style="border: 1px solid; border-radius: 10px; padding: 10px 0; margin-bottom: 10px;" class="row text-@XModels.Colors[tls.IndexOf(ptl) ]">
        @foreach (var pk in ptl.LST)
        {
            <div class="text-@XModels.Colors[tls.IndexOf(ptl)] col-sm-4" style="text-align: right;">
                @XFile.sType[pk.Key]
            </div>
            <div class="col-sm-8">
                <form class="frmUpload" id="@pk.Key">
                    <input type="file" style="display: inline-block;" class="btn btn-@XModels.Colors[tls.IndexOf(ptl) ]" />
                    <input type="submit" value="Upload" class="btn btn-@XModels.Colors[tls.IndexOf(ptl) ]" />
                </form>
            </div>
        }
    </div>
}
<dt class="text-danger">
    Upload scan ban đầu
</dt>
<dd>
    <form id="uplHoSoTiepNhan">
        <input id="flHoSoTiepNhan" type="file" style="display: inline-block;" class="btn btn-primary" />
        <input type="submit" value="Upload" class="btn btn-primary" />
    </form>
</dd>
<dt class="text-success">
    Upload scan hoàn thiện
</dt>
<dd>
    <form id="uplHoSoHoanThien">
        <input id="flHoSoHoanThien" type="file" style="display: inline-block;" class="btn btn-success" />
        <input type="submit" value="Upload" class="btn btn-success" />
    </form>
</dd>
<dt>
    Upload TKTTHC đã điền
</dt>
<dd>
    <form id="uplHoSo1Cua">
        <input id="flHoSo1Cua" type="file" style="display: inline-block;" class="btn btn-info" />
        <input type="submit" value="Upload" class="btn btn-info" />
    </form>
</dd>

<dt>
    Upload gia phả
</dt>
<dd>
    <form id="uplGiaPha">
        <input id="flGiaPha" type="file" style="display: inline-block;" class="btn btn-default" />
        <input type="submit" value="Upload" class="btn btn-default" />
    </form>
</dd>
<dt>
    Upload sổ mục kê, BĐ giải thửa
</dt>
<dd>
    <form id="uplSMKBDGT">
        <input id="flSMKBDGT" type="file" style="display: inline-block;" class="btn btn-default" />
        <input type="submit" value="Upload" class="btn btn-default" />
    </form>
</dd>

<dt>
    Phiếu 1 cửa hướng dẫn
</dt>
<dd>
    <form id="uplP1CHD">
        <input id="flP1CHD" type="file" style="display: inline-block;" class="btn btn-warning" />
        <input type="submit" value="Upload" class="btn btn-warning" />
    </form>
</dd>

<dt>
    Phiếu trả bổ sung hồ sơ
</dt>
<dd>
    <form id="uplPTBS">
        <input id="flPTBS" type="file" style="display: inline-block;" class="btn btn-warning" />
        <input type="submit" value="Upload" class="btn btn-warning" />
    </form>
</dd>

<dt>
    Phiếu xin lỗi, hẹn lại ngày trả KQ
</dt>
<dd>
    <form id="uplPXL">
        <input id="flPXL" type="file" style="display: inline-block;" class="btn btn-warning" />
        <input type="submit" value="Upload" class="btn btn-warning" />
    </form>
</dd>



<dt>
    Đơn phản ánh, khiếu nại, tố cáo
</dt>
<dd>
    <form id="uplKNTC">
        <input id="flKNTC" type="file" style="display: inline-block;" class="btn btn-danger" />
        <input type="submit" value="Upload" class="btn btn-danger" />
    </form>
</dd>


<dt>
    Kết quả sao lục
</dt>
<dd>
    <form id="uplKQSL">
        <input id="flKQSL" type="file" style="display: inline-block;" class="btn btn-warning" />
        <input type="submit" value="Upload" class="btn btn-warning" />
    </form>
</dd>

<style>
    .dl-horizontal dt {
        width: 220px;
    }

    .dl-horizontal dd {
        margin-left: 250px;
    }
</style>