@model NiceHandles.Models.Infomation
@using NiceHandles.Models

<br />
<fieldset>
    <legend>
        Chuyển mục đích sử dụng đất
    </legend>
    <div class="form-horizontal">    
    </div>
</fieldset>