@model NiceHandles.Models.Infomation
@using NiceHandles.Models

<br />
<fieldset>
    <legend>
        Cấp lại
    </legend>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Lý do cấp lại", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">                
            </div>
        </div>
    </div>
</fieldset>