@model NiceHandles.Models.Infomation
@using NiceHandles.Models

<br />
<fieldset>
    <legend>
        Đính chính
    </legend>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Nội dung đính chính", htmlAttributes: new { @class = "control-label col-md-2" })            
        </div>
        <div class="form-group">
            @Html.Label("Lý do đính chính", htmlAttributes: new { @class = "control-label col-md-2" })            
        </div>
    </div>
</fieldset>