@model NiceHandles.Models.fk_service_document

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Chắc chắn xóa?</h3>
<div>
    <h4>Bỏ gắn hồ sơ vào dịch vụ</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Tên hồ sơ
        </dt>

        <dd>
            @ViewBag.name
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Về danh sách", "Index")
        </div>
    }
</div>
